/* Error: Expected newline.
 *   ,
 * 3 | * {
 *   |   ^
 *   '
 *   styles.sass 3:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected newline.\a   \2577 \a 3 \2502  * {\a   \2502    ^\a   \2575 \a   styles.sass 3:3  root stylesheet";
}
